
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Sign up</h2>

    <%= devise_error_messages! %>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      <div class="panel-footer">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
